src/SnowDAL/bin/
src/SnowDAL/obj/
src/SnowAPI/bin/Debug/netcoreapp1.0/SnowAPI.dll
.vs/SnowAPI/v14/.suo
.vs/restore.dg
src/SnowAPI/Models/FilterModel.cs
src/SnowAPI/bin/Debug/netcoreapp1.0/SnowAPI.pdb
src/SnowAPI/bin/Debug/netcoreapp1.0/SnowAPI.xml
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowAPI.deps.json
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowAPI.dll
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowAPI.pdb
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowAPI.xml
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowBLL.dll
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowBLL.pdb
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowDAL.dll
src/SnowAPI/bin/Debug/netcoreapp1.0/win10-x64/SnowDAL.pdb
src/SnowAPI/bin/Release/PublishOutput/Microsoft.CSharp.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.CodeAnalysis.CSharp.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.CodeAnalysis.VisualBasic.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.CodeAnalysis.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.VisualBasic.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.Win32.Primitives.dll
src/SnowAPI/bin/Release/PublishOutput/Microsoft.Win32.Registry.dll
src/SnowAPI/bin/Release/PublishOutput/SnowAPI.deps.json
src/SnowAPI/bin/Release/PublishOutput/SnowAPI.dll
src/SnowAPI/bin/Release/PublishOutput/SnowAPI.exe
src/SnowAPI/bin/Release/PublishOutput/SnowAPI.pdb
src/SnowAPI/bin/Release/PublishOutput/SnowAPI.runtimeconfig.json
src/SnowAPI/bin/Release/PublishOutput/SnowBLL.dll
src/SnowAPI/bin/Release/PublishOutput/SnowBLL.pdb
src/SnowAPI/bin/Release/PublishOutput/SnowDAL.dll
src/SnowAPI/bin/Release/PublishOutput/SnowDAL.pdb
src/SnowAPI/bin/Release/PublishOutput/System.AppContext.dll
src/SnowAPI/bin/Release/PublishOutput/System.Buffers.dll
src/SnowAPI/bin/
src/SnowAPI/obj/Debug/netcoreapp1.0/.IncrementalCache
src/SnowAPI/obj/
src/SnowBLL/obj/
src/SnowTest/bin/
src/SnowTest/obj/
src/SnowTests/bin/
src/SnowTests/obj/
src/SnowBLL/bin/
src/EmailSender/obj/
src/EmailSender/bin/
src/SnowTests/project.lock.json
